@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');

body{
background-color: #107281;
text-align: center;
}

h1 {
    text-transform: capitalize;
    color: slategray;
    font-family: 'Rokkitt', serif;
    font-size: 50px;
}

p{
    text-transform: capitalize;
}

#eka{
    color: goldenrod;
}

#toka{
    color: deeppink;
}

#kolmas{
    color: thistle;
}

.container{
    width: 700px;
    margin: 0 auto;
}

input {
    background-color: antiquewhite;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
}

#butt1 {
    color: #000;
    background-color: antiquewhite;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 10px;
}

ul{
    text-align: left;
    margin-top: 15px;
    padding-left: 10px;
}

li {
    height: 20px;
    width: 600px;
    background-color: antiquewhite;
    color: #000;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 10px;
    list-style: none;
}

li > butt1 {
    border-radius: 5px;
    float: right;
    color: #000;
}

.done {
    color: #00ff21;
    background: #51DF70;
}

.intro{
    margin: 20px;
}

.delete {
    display: none;
}


