html {
    background-color: #14213d;
}

body {
    width: 40%;
    height: 600px;
    background-color: #ccd5ae;
    padding: 10px;
    margin: auto;
    margin-top:150px; 
    border-radius: 10px; 
    border: 3px solid black; 
    
}

label{
   
}

#tallenna{
    
}

#hae{

}

#poista{

}