body{
    background-color: burlywood;
}

#board{
    width: 910px;
    min-height: 100px;
    position: relative;
}

<<<<<<< HEAD
.cardTitle {
=======
.cardTitle{
>>>>>>> 53e9bdbecc9a2ae1724df91b0c438a0b4f5400d5
    background-color: burlywood;
}

.title{
    background-color: #52460a;
    text-align: center;
    color: white;
    padding: 2px 0px;
}

#inprogress{
    left: 302px;
}

<<<<<<< HEAD
#test{
    left: 604px;
}

#done{
=======
#test {
    left: 604px;
}

#done {
>>>>>>> 53e9bdbecc9a2ae1724df91b0c438a0b4f5400d5
    left: 906px;
}

#todo, #inprogress, #test, #done{
    background-color: tan;
    position:absolute;
    width: 300px;
    min-height: 150px;
    border: 2px solid black;
}

*[draggable=true]{
    float: left;
<<<<<<< HEAD
    min-width: 50px;
    min-height: 50px;
=======
    min-height: 50px;
    min-width: 50px;
>>>>>>> 53e9bdbecc9a2ae1724df91b0c438a0b4f5400d5
    border: 2px solid black;
    margin: 10px;
    font-weight: bold;
    min-height: 60px;
<<<<<<< HEAD
}


=======
}
>>>>>>> 53e9bdbecc9a2ae1724df91b0c438a0b4f5400d5
