@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Phudu&family=Ubuntu:ital,wght@1,300&display=swap');

body {
    width: 70%;
    margin: auto;
    background-color: #ddb892;
    padding: 10px 20px;
}

.logo{
    display: inline-block;
    height: 40px;
}
h1 {
    display: Inline-table;
    margin-bottom: 10px;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 40px;
}

h3 {
    font-family: font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    margin-top: 30px;
}

nav{
    font-size: 20px;
    margin: -10px 0 0 200px;
}

nav li {
    float: left;
    padding: 0 10px;
}

ul{
    display: inline-block;
    list-style-type: none;
    margin-top: -30px;
}

    nav a {
        color: #000;
    }

section{
    width: 50%;
    float: left;
}

aside {
    width: 50%;
    float: right;
    background-color: #ede0d4;
    margin-top: 30px;
    border-radius: 10px;
}

h2 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 20px;
    padding: 0 0 0 10px;
}

section h2 {
    display: inline-block;
    font-family: 'Phudu', cursive;
    font-size: 25px;
}

#kuva1{
    height: 150px;
    width: 200px;
}

#kuva2{
    height: 100px;
    width: 200px;
}

#kuva3{
    height: 150px;
    width: 200px;
}

#kuva4{
    height:150px;
    width: 200px;
}

#facebook {
    height: 50px;
    width: 50px;
}

#instagram{
    height: 50px;
    width: 50px;
}

footer{
    margin-top:;
    display:;
}

#eka {
    float: left;
    margin-top: 600px;
}

#toka{
  
}

div{
    width:;
    margin:;

}

div img{

}

footer a {
    color: #ede0d4;
}

