@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Zhi+Mang+Xing&display=swap');

body {
    height: 100%;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    color: #000;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0; 
}

.article {
    text-align: center;
    padding: 50px 50px;
}

.article-light {
    background-color: #A26DA4;
    color: #000;
    text-align: center;
    height: 150px;
    padding: 20px;
}

.article-dark {
    background-color: #500E52;
    color: #fff;
    text-align: center;
    height: 150px;
    padding: 20px;
}

h1 {
    text-align: center;
}

h2 {
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 30px;
    text-align: center;
}

h3 {
    text-align: center;
}

.p {
    text-align: center;
    width: 100%;
    color: #000;
    font-size: 25px;
    position: absolute;
}

#lähde {
    font-size: 10px;
}

#kuva1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url('file:///C:\Users\esko.sailakivi\Source\Repos\Humppu\Projektit\harrastukset.jpg');
    min-height: 100%;
    width: 100%;
}

#kuva2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url('file:///C:\Users\esko.sailakivi\Source\Repos\Humppu\Projektit\harrastukset2.jpg');
    height: 450px;
    width: 100%;
}

#kuva3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url('file:///C:\Users\esko.sailakivi\Source\Repos\Humppu\Projektit\harrastukset3.jpg');
    height: 450px;
    width: 100%;
}

#kuva1, #kuva2, #kuva3 {
    position: relative;
    opacity: 0.90;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media(max-width:570px){
    #kuva1, #kuva2, #kuva3,{
        background-attachment: fixed;
    }
}