@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Zhi+Mang+Xing&display=swap');

body {
    height: 100%;
    font-size:;
    font-family: 'Ubuntu', sans-serif;
    color: #000;
}

article {
    text-align: center;
    padding: 0 0 0 0;
}

article-light {
    background-color: #d7cdcd;
    color: #666;
}

article-dark {
    background-color: #313131;
    color: #ddd;
}

h1 {

}

h2 {

}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

#kuva2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.90;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pimg1 {
    background-image: ;
    min-height: ;
}

.pimg2 {
    background-image: ;
    min-height: ;
}

.pimg3 {
    background-image: ;
    min-height: ;
}