@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Zhi+Mang+Xing&display=swap');

body {
    height: 100%;
    font-size:;
    font-family: 'Ubuntu', sans-serif;
    color:;
}


article {
    text-align: center;
    padding: 0 0 0 0;
}

article-light {
    background-color: ;
    color: ;
}

article-dark {
    background-color:;
    color:;
}

h1 {

}

h2 {

}

h3 {

}

p {

}

#kuva2 {
    
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.90;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pimg1 {
    background-image: ;
    min-height: ;
}

.pimg2 {
    background-image: ;
    min-height: ;
}

.pimg3 {
    background-image: ;
    min-height: ;
}