html {
    background-color: #14213d;
}


<<<<<<HEAD

body{
    width: 40%;
    height: 600px;
    padding: 10px;
    margin: auto;
    margin-top:150px; 
    border-radius: 10px; 
}

button{
    float: right; 
    margin: 10px 0 0 20px; 
}


input{
    
    border: 1px solid black;
    margin: 5px; 
}

